@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(40px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}
body{
    background-image: url(../assets/bg2.jpg);
}

#deskripsi {
    display: flex;
    flex-direction: column;
    gap: 60px;
    margin: 80px auto;
    width: 90%;
    max-width: 900px;
    border-radius: 16px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
    background-color: gray;
    padding: 40px;
}

.profil {
    display: flex;
    gap: 30px;
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 16px;
    background-color: white;
    animation: fadeInUp 1.5s ease forwards;
}

.profil img {
    width: 200px;
    height: 300px;
    border-radius: 16px;
    object-fit: cover;
    flex-shrink: 0;
    animation: fadeInUp 1.5s ease forwards;
}

.profil .info h1 {
    animation: fadeInUp 1.5s ease forwards;
    margin-bottom: 10px;
    font-size: 1.3rem;
    font-weight: bold;
}

.profil .info p {
    animation: fadeInUp 1.5s ease forwards;
    margin-top: 40px;
    line-height: 1.5;
}

.slider-container {
    position: relative;
    width: 100%;
    max-width: 900px;
    overflow: hidden;
    border-radius: 16px;
    animation: fadeInUp 1.5s ease forwards;
}

.slider {
    display: flex;
    transition: transform 0.5s ease;
}

.slide {
    min-width: 100%;
    height: 500px;
    object-fit: cover;
    transition: transform 0.5s ease;
}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0,0,0,0.6);
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 20px;
    border-radius: 50%;
    z-index: 10;
    animation: fadeInUp 1.5s ease forwards;
}

.prev { left: 10px; }
.next { right: 10px; }

#tempat {
    margin-top: 50px;
    background: white;
    padding: 15px;
    border-radius: 16px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
    animation: fadeInUp 1.5s ease forwards;
}

#tempat iframe {
    width: 100%;
    height: 350px;
    border-radius: 12px;
    margin-bottom: 20px;
    animation: fadeInUp 1.5s ease forwards;
}

#tempat p {
    padding: 6px 0;
    animation: fadeInUp 1.5s ease forwards;
}

h1{
    animation: fadeInUp 1.5s ease forwards;
}
h2{
    animation: fadeInUp 1.5s ease forwards;
}
h3{
    animation: fadeInUp 1.5s ease forwards;
}
p{
    animation: fadeInUp 1.5s ease forwards;
}

.btn {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  background-color: red;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

a{
 text-decoration: none;
 color: wheat;
}