* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Animasi Awal*/
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(40px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/*BAGIAN BANNER*/
#header1 {
    background-image: url('../GAMBARHOME/ithb.jpg');
    background-size: cover;
    background-position: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    color: white;
    padding-top: 150px;
}


.info{
    color: white;
    font-weight: bold;
}

#header1::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 0;
}

/*DESKRIPSI*/
#deskripsi {
    display: flex;
    flex-direction: column;
    gap: 60px;
    margin: 80px auto;
    width: 90%;
    max-width: 900px;
    color: rgb(29, 27, 27);
}

.profil {
    display: flex;
    gap: 30px;
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 16px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
    animation: fadeInUp 1.5s ease forwards;
}

.profil img {
    width: 200px;
    height: 300px;
    border-radius: 16px;
    object-fit: cover;
    flex-shrink: 0;
    animation: fadeInUp 1.5s ease forwards;
}

.profil .info h1 {
    animation: fadeInUp 1.5s ease forwards;
    margin-bottom: 10px;
    font-size: 1.3rem;
    font-weight: bold;
}

.profil .info p {
    animation: fadeInUp 1.5s ease forwards;
    margin-top: 40px;
    line-height: 1.5;
}