* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: #f4f4f4;
}

header {
    text-align: center;
    padding: 30px;
    color: rgb(0, 0, 0);
}

ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 15px;
}

ul li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 8px 16px;
    border-radius: 5px;
    transition: 0.3s;
}

ul li a:hover{
    background-color: #666;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 30px;
    gap: 15px;
    transition: all 0.4s ease;
}

.gallery img {
    width: 200px;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
    transition: transform 0.5s ease;
}

/* Efek sembunyi */
.hidden {
    opacity: 0;
    transform: scale(0.9);
    pointer-events: none;
}

/* Animasi masuk */
.fade-in {
    animation: fadeIn 0.6s ease forwards;
}

/* Animasi keluar */
.fade-out {
    animation: fadeOut 0.6s ease forwards;
}

@keyframes fadeIn {
    from { opacity: 0; transform: scale(0.9); }
    to { opacity: 1; transform: scale(1); }
}

@keyframes fadeOut {
    from { opacity: 1; transform: scale(1); }
    to { opacity: 0; transform: scale(0.9); }
}
