@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(40px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.music-section {
    background-color: white;
    border-radius: 16px;
    margin-top: 30px;
    padding: 10px;
    font-family: sans-serif;
    animation: fadeInUp 1.5s ease forwards;
}

.music-section h2 {
    margin-bottom: 15px;
    font-size: 22px;
    font-weight: bold;
    animation: fadeInUp 1.5s ease forwards;
}

.song {
    display: flex;
    align-items: center;
    background: #121212;
    padding: 12px;
    border-radius: 12px;
    margin-bottom: 12px;
    cursor: pointer;
    transition: 0.2s;
    animation: fadeInUp 1.5s ease forwards;
}

.song:hover {
    background: #1e1e1e;
}

.cover {
    width: 60px;
    height: 60px;
    border-radius: 8px;
    object-fit: cover;
    margin-right: 15px;
    animation: fadeInUp 1.5s ease forwards;
}

.info {
    flex: 1;

    animation: fadeInUp 1.5s ease forwards;
}

.info h3 {
    margin: 0;
    font-size: 16px;
    color: #fff;
    animation: fadeInUp 1.5s ease forwards;
}

.info p {
    margin: 2px 0 0;
    font-size: 13px;
    color: #9b9b9b;
    animation: fadeInUp 1.5s ease forwards;
}

.play-btn {
    background: #1db954;
    border: none;
    color: white;
    padding: 8px 12px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 16px;
    transition: 0.2s;
    animation: fadeInUp 1.5s ease forwards;
}

.play-btn:hover {
    background: #17a446;
}
